@model CampusVirtual.ViewModels.CarrerasViewModels.CrearViewModel
@{
    ViewBag.Title = "Crear Carrera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title">Crear Carrera</h2>
<form asp-action="Crear" asp-controller="Carreras" method="post">

    <div>
        <label asp-for="Nombre"></label>
        <div>
            <input asp-for="Nombre" class="lbl-block spaces" required/>
            <div>
                <span asp-validation-for="Nombre"></span>
            </div>
        </div>
    </div>
    <div>
        <label asp-for="Codigo"></label>
        <div>
            <input asp-for="Codigo" class="lbl-block spaces" required/>
            <div>
                <span asp-validation-for="Codigo"></span>
            </div>
        </div>
    </div>
    <div>
        <label asp-for="Descripcion"></label>
        <div>
            <textarea rows=" 4" cols="50" asp-for="Descripcion" class="lbl-block spaces" required/></textarea>
            <div>
                <span asp-validation-for="Descripcion"></span>
            </div>
        </div>
    </div>
    <div>
        <label asp-for="Director"></label>
        <div>
            <input asp-for="Director" class="lbl-block spaces" required/>
        </div>
        <span asp-validation-for="Director"></span>
    </div>

    <div>
        <input type="submit" value="Crear" class="btn btn-primary btn-md btn-submit" />
    </div>
</form>

