body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.background-gradient {
    background: linear-gradient(to right, rgb(0, 163, 197) 1%, rgb(171, 206, 53) 100%);
}

.title{
    margin-top: 25px;
    padding: 0 0 10px;
    font-size: 22px;
}

.lbl-block {
    width: 25%;
    height: 10%;
    padding: 10px 12px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

span {
 text-align:left;
 color: red;
}


.FontAwesome {
    color: white
}

/* button */
.btn-submit {
    margin-bottom: 20px;
    margin-top: 5px;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-submit:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}


/**navbar*/
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse {
border: none;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-link {
    color: #fff;
}


/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
    position:center;
    min-height: 100;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

