@model CampusVirtual.ViewModels.Nota.Index
@{
	Layout = "~/Views/Shared/_layout.cshtml";
	ViewBag.Title = Model.Title;
}
<section>
	<div class="row">
		<div class="col-sm-12">
			<nav class="navbar navbar-expand-lg no-border background-gradient">
				<a class="navbar-brand" href="home.html">Universidad</a>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link navb-color" href="home.html">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="asistencia.html">Asistencias</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="matricula.html">Matrícula</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="cursos.html">Cursos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="evaluacionD.html">Evaluación Docente</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Configuración
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">

								<a class="dropdown-item" href="parametros.html">Parametros</a>
								<a class="dropdown-item" href="carreras.html">Carreras</a>
								<a class="dropdown-item" href="materias.html">Materias</a>
								<a class="dropdown-item" href="requisitos.html">Requisitos</a>
								<a class="dropdown-item" href="tipos_usuarios.html">Tipos Usuarios</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="usuarios.html">Usuarios</a>
						</li>
					</ul>
					<form class="form-inline my-2 my-lg-0">
						<ul class="navbar-nav mr-auto">
							<li>
								<a href="#" class='container-fluid nav-item' class="nombre-header">Username</a>
							</li>
							<li>
								<a class='container-fluid nav-item' href="#" class="boton-header"> Salir</a>
							</li>
						</ul>
					</form>
				</div>
			</nav>
		</div>
	</div>
</section>



<section class="footer-bottom">
	<h4 class="titleheaders"> Mis notas</h4>
	<div class="container">

		<table id="tabla_usuarios" class="dataTable table table-striped table-bordered" cellspacing="0">
			<thead>
				<tr>
					<th>Carrera</th>
					<th>Período</th>
					<th>Código Curso</th>
					<th>Materia</th>
					<th>Modalidad</th>
					<th>Nota</th>
					<th>Estatus</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Arquitectura</td>
					<td>2013-2</td>
					<td>AQ-386</td>
					<td>Física 1</td>
					<td>Ordinario</td>
					<td>70</td>
					<td>Aprobado</td>

				</tr>
				<tr>
					<td>Medicina</td>
					<td>2010-1</td>
					<td>MD-04Z3</td>
					<td>Anatomía I</td>
					<td>Ordinario</td>
					<td>75</td>
					<td>Aprobado</td>

				</tr>
				<tr>
					<td>Psicología</td>
					<td>2015-1</td>
					<td>PS-105</td>
					<td>Introducción al Pensamiento científico</td>
					<td>Ordinario</td>
					<td>60</td>
					<td>Reprobado</td>

				</tr>
				<tr>
					<td>Ingeniería de Sistemas Informáticos</td>
					<td>2016-3</td>
					<td>SI-085</td>
					<td>Cálculo I</td>
					<td>Ordinario</td>
					<td>79</td>
					<td>Aprobado</td>

				</tr>
				<tr>
					<td>Ingeniería de Sistemas Informáticos</td>
					<td>2016-3</td>
					<td>ASD-05</td>
					<td>Programación I</td>
					<td>Suficiencia</td>
					<td>81</td>
					<td>Aprobado</td>

				</tr>
				<tr>
					<td>Arquitectura</td>
					<td>2013-2</td>
					<td>AQ-386</td>
					<td>Física 1</td>
					<td>Ordinario</td>
					<td>70</td>
					<td>Aprobado</td>

				</tr>
				<tr>
					<td>Medicina</td>
					<td>2010-1</td>
					<td>MD-04Z3</td>
					<td>Anatomía I</td>
					<td>Ordinario</td>
					<td>75</td>
					<td>Aprobado</td>

				</tr>
				<tr>
					<td>Psicología</td>
					<td>2015-1</td>
					<td>PS-105</td>
					<td>Introducción al Pensamiento científico</td>
					<td>Ordinario</td>
					<td>60</td>
					<td>Reprobado</td>

				</tr>
				<tr>
					<td>Ingeniería de Sistemas Informáticos</td>
					<td>2016-3</td>
					<td>SI-085</td>
					<td>Cálculo I</td>
					<td>Ordinario</td>
					<td>79</td>
					<td>Aprobado</td>

				</tr>
				<tr>
					<td>Ingeniería de Sistemas Informáticos</td>
					<td>2016-3</td>
					<td>ASD-05</td>
					<td>Programación I</td>
					<td>Suficiencia</td>
					<td>81</td>
					<td>Aprobado</td>

				</tr>
				<tr>
					<td>Ingeniería de Sistemas Informáticos</td>
					<td>2016-3</td>
					<td>ASD-05</td>
					<td>Programación I</td>
					<td>Suficiencia</td>
					<td>81</td>
					<td>Aprobado</td>

				</tr>
			</tbody>
		</table>
	</div>
</section>