@model ProyectoIdentity.Models.Parametros

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Parametros</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ParametrosId" />
            <div class="form-group">
                <label asp-for="fechaLimOrd" class="control-label"></label>
                <input asp-for="fechaLimOrd" class="form-control" />
                <span asp-validation-for="fechaLimOrd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaLimExt" class="control-label"></label>
                <input asp-for="fechaLimExt" class="form-control" />
                <span asp-validation-for="fechaLimExt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descuento" class="control-label"></label>
                <input asp-for="descuento" class="form-control" />
                <span asp-validation-for="descuento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maxCred" class="control-label"></label>
                <input asp-for="maxCred" class="form-control" />
                <span asp-validation-for="maxCred" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
