@model CampusVirtual.ViewModels.BecaViewModels.CrearViewModel
@{
	ViewBag.Title = "Crear ";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject SignInManager<Usuario> SignInManager
<h2>Crear Curso</h2>
<form asp-action="Crear" asp-controller="Beca" method="post">
	<div asp-validation-summary="All"></div>
	<div>
		<label asp-for="Nombre"></label>
		<div>
			<input asp-for="Nombre" />
			<span asp-validation-for="Nombre"></span>
		</div>
	</div>
	<div>
		<label asp-for="Porcentaje"></label>
		<div>
			<input asp-for="Porcentaje" />
			<span asp-validation-for="Porcentaje"></span>
		</div>
	</div>

	<div>
		<input type="submit" value="Crear" />
	</div>
</form>
