@model CampusVirtual.ViewModels.HomeViewModels.IndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>@Model.Id</p>
<p>@Model.Nombre</p>
<p>@Model.Clave</p>
<p>@Model.TipoUsuario</p>


