@model CampusVirtual.ViewModels.CursoViewModels.CrearViewModel
@{
    ViewBag.Title = "Crear Curso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title">Crear Curso</h2>
<form asp-action="Crear" asp-controller="Curso" method="post">
	<div>
		<label asp-for="Nombre"></label>
		<div>
			<input asp-for="Nombre" class="lbl-block spaces" required />
			<div>
				<span asp-validation-for="Nombre"></span>
			</div>
		</div>
	</div>
	<div>
		<label asp-for="Codigo"></label>
		<div>
			<input asp-for="Codigo" class="lbl-block spaces" required />
			<div>
				<span asp-validation-for="Codigo"></span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="CarreraId" class="control-label"></label>
		<input asp-for="CarreraId" class="form-control" />
		<span asp-validation-for="CarreraId" class="text-danger"></span>
	</div>



	<div>
		<input type="submit" value="Crear" class="btn btn-primary btn-md btn-submit" />
	</div>
</form>