@model CampusVirtual.ViewModels.CursoViewModels.EditarViewModel
@{
    ViewBag.Title = "Editar Curso ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title">Editar Curso</h2>
<form asp-action="Editar" asp-controller="Curso" method="post">
    
    <div>
        <label asp-for="Nombre"></label>
        <div>
            <input asp-for="Nombre" value="@Model.Curso.Nombre" class="lbl-block" />
            <div>
                <span asp-validation-for="Nombre"></span>
                </div>
                </div>
            </div>
    <div>
        <label asp-for="Codigo"></label>
        <div>
            <input asp-for="Codigo" value="@Model.Curso.Codigo" class="lbl-block" />
            <div>
                <span asp-validation-for="Codigo"></span>
                </div>
                </div>
                <input asp-for="Id" value="@Model.Curso.CursoId" hidden />
            </div>
    <div>
        <input type="submit" value="Editar" class="btn btn-primary btn-md btn-submit" />
    </div>
</form>


