@model CampusVirtual.ViewModels.CursoViewModels.MatricularViewModel
@{
    ViewBag.Title = "Matricula";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>

<h2>Matricula</h2>

<table class="dataTable table table-striped table-bordered display table-hover" cellspacing="0" id="myTable">
    <thead>
        <tr>
            <th class="col-md-11">Curso</th>
            <th class="col-md-1">Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var curso in Model.Cursos)
        {
            <tr>
                <td>
                    @curso.Nombre
                </td>
                <td>
                    <a class="btn btn-primary btn-md pull-right" asp-action="Matricular" asp-controller="Curso" asp-route-id="@curso.CursoId"> <i class="FontAwesome fas fa-plus"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

