@model CampusVirtual.ViewModels.GrupoViewModels.CrearViewModel
@{
	ViewBag.Title = "Crear Grupo";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title">Crear Grupo</h2>
<form asp-action="Crear" asp-controller="Grupos" method="post">
	<select class="form-control lbl-block" asp-for="CursoId">

		@foreach (var item in Model.Cursos)
		{
			<option value="@item.CursoId">@item.Nombre</option>
		}
	</select>
	<span asp-validation-for="Cursos"></span>


	<div>
		<label asp-for="NumeroGrupo"></label>
		<div>
			<input asp-for="NumeroGrupo" class="lbl-block spaces" required min="1" />
			<span asp-validation-for="NumeroGrupo"></span>
		</div>
	</div>
	<label asp-for="Horario"></label>
	<select asp-for="Horario" class="form-control lbl-block">
		<option name="idhorario" value='LM'>Lunes-Mañana </option>
		<option name="idhorario" value='LT'>Lunes-Tarde  </option>
		<option name="idhorario" value='LN'>Lunes-Noche  </option>

		<option name="idhorario" value='KM'>Martes-Mañana  </option>
		<option name="idhorario" value='KT'>Martes-Tarde  </option>
		<option name="idhorario" value='KN'>Martes-Noche  </option>

		<option name="idhorario" value='MM'>Miercoles-Mañana  </option>
		<option name="idhorario" value='MT'>Miercoles-Tarde  </option>
		<option name="idhorario" value='MN'>Miercoles-Noche  </option>

		<option name="idhorario" value='JM'>Jueves-Mañana  </option>
		<option name="idhorario" value='JT'>Jueves-Tarde  </option>
		<option name="idhorario" value='JN'>Jueves-Noche  </option>

		<option name="idhorario" value='VM'>Viernes-Mañana  </option>
		<option name="idhorario" value='VT'>Viernes-Tarde  </option>
		<option name="idhorario" value='VN'>Viernes-Noche</option>

		<option name="idhorario" value='SM'>Sabado-Mañana  </option>
		<option name="idhorario" value='ST'>Sabado-Tarde  </option>
		<option name="idhorario" value='SN'>Sabado-Noche  </option>
	</select>


	<div>
		<input type="submit" value="Crear" class="btn btn-primary btn-md btn-submit" />
	</div>
</form>