@model CampusVirtual.ViewModels.Asistencia.AsignarViewModel
@{
	Layout = "~/Views/Shared/_layout.cshtml";
	ViewBag.Title = Model.Title;
}


<div class="container">
	<section>
		<br>
		<h4 class="titleheaders"> Asistencia</h4>
	</section>
	<section class='container'>
		<form>
			<div class='row'>
				<div class='col-12 offset-md-2 col-md-8 text-center'>
					<ul class="list-group align-middle">
						<li class="list-group-item">
							Alfredo Valverde Gonzalez Alejandro
							<input class="btn float-right btn bg-success text-white col-12 col-md-3" type='button' value="Presente">
						</li>
						<li class="list-group-item">
							Juan Carlos Sanchez
							<input class="btn float-right btn bg-success text-white col-12 col-md-3" type='button' value="Presente">
						</li>
						<li class="list-group-item">
							Carla Daniela Zepeda
							<input class="btn float-right btn bg-success text-white col-12 col-md-3" type='button' value="Presente">
						</li>
						<li class="list-group-item">
							Armando Alfonzo Ramirez
							<input class="btn float-right btn bg-success text-white col-12 col-md-3" type='button' value="Presente">
						</li>
						<li class="list-group-item">
							Juan Manuel Jimenez
							<input class="btn float-right btn bg-success text-white col-12 col-md-3" type='button' value="Presente">
						</li>
						<li class="list-group-item">
							Andre Paul Vigneault
							<input class="btn float-right btn bg-success text-white col-12 col-md-3" type='button' value="Presente">
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-12 offset-md-2 col-md-8">
					<input class=' col-12 btn btn-success' type="submit">
				</div>
			</div>
		</form>
	</section>

	<!-- Cambio 2 -->
</div>
